code{
    font-family: "Menlo", "Monaco", "Courier New", monospace !important;
    font-size: 0.75rem;
}
.hljs-number{
    color: var(--bl);
}

pre{
    margin: 0;
    padding: 0 !important;
}
.CodeDisplay{
    
}

.hljs-params{
    opacity: 0.467;
}
