.Difficulty{
   
    display: flex;
    align-items: center;
    justify-self: center;
}

.Difficulty__container{
    background-color: var(--gray-t1);
    padding: 0.3rem 0.9rem;
    border-radius: 1rem;
}
.Easy{
    color: green;
    background-color: rgb(233, 245, 233);
}

.Normal{
    color: rgb(238, 135, 0);
    background-color: rgb(255, 249, 238);
}
.Hard{
    color: rgb(177, 3, 3);
    background-color: rgb(233, 205, 205);
}
.Unknown{
    color: var(--gray);
}
