.RunResult{
    height: calc(100vh - var(--editor-height) - var(--nav-height) - 47px - 0.5rem - 30px);
    overflow: scroll;
}

.RunResult__output{
    background-color: var(--gray-t1);
    border-radius: 0.5rem;
    margin: 1rem 1.5rem;
    padding: 1rem;
}
.RunResult__title{
    font-family: "Menlo", "Monaco", "Courier New", monospace !important;
    font-size: 0.75rem;
}
.default{

}
.correct{
    background-color: var(--green-light);
}
.error{
    background-color: var(--red-light);
}
.incorrect{
    background-color: var(--red-light);
}
.Console__title{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}